# Données lourdes
*.npy
*.laz
*.las
*.pt
*.pth
*.npz

# Dossiers inutiles
__pycache__/
*.pyc
*.pyo
.env/
*.log

# IDE
.vscode/
.idea/
# Données trop lourdes à ne pas suivre
data/data.npy
data/train.npy
data/test.npy
data/val.npy
data/*.laz